body {
  background-color: #1EA896;
  color: #fff;
}
#main {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
h1 {
  font-weight: bold;
  font-size: 4em;
  font-family: 'Permanent Marker', cursive; 
}
